.X::after, .X::before, .O::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
}
.X::after, .X::before{
    background-color: white;
    width: 10px;
    height: 75%;
    border-radius: 1000px;
}
.X::before{
    transform: translate(-50%, -50%) rotate(45deg);
}
.X::after{
    transform: translate(-50%, -50%) rotate(-45deg);
}

.O::after{
    transform: translate(-50%, -50%);
    width: 75%;
    aspect-ratio: 1/1;
    border: 10px solid white;
    border-radius: 1000px;
}

/* trick to remove the surrounding borders of the board */
#board::after{
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid;
    pointer-events: none;
    @apply border-slate-850
}