@font-face {
    font-family: "Poppins";
    src: url('https://firebasestorage.googleapis.com/v0/b/mask-games.appspot.com/o/fonts%2FPoppins%2FPoppins-Regular.ttf?alt=media&token=15315456-c4fc-4d55-8cf5-9e2afbfe3e01') format('truetype');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url('https://firebasestorage.googleapis.com/v0/b/mask-games.appspot.com/o/fonts%2FPoppins%2FPoppins-Medium.ttf?alt=media&token=5157132f-d05c-4387-868d-78a51461afb0') format('truetype');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url('https://firebasestorage.googleapis.com/v0/b/mask-games.appspot.com/o/fonts%2FPoppins%2FPoppins-Light.ttf?alt=media&token=fceca6b1-4bbd-45c7-980b-69e53ef122df') format('truetype');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src: url('https://firebasestorage.googleapis.com/v0/b/mask-games.appspot.com/o/fonts%2FNunito%2FNunito-VariableFont_wght.ttf?alt=media&token=72ab0014-2d49-4533-a7f8-50e7f199880a') format('truetype');
    font-display: swap;
}
