@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
}

h1, h2{
    font-family: "Nunito";
    font-weight: 500;
}
h1{
    font-size: 32px;
}
h2{
    font-size: 23px;
}

.center-game{
    @apply flex-grow flex flex-col items-center justify-center 
}