@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
}

h1{
    font-size: 28px;
    font-weight: 500;
}
h2{
    font-size: 23px;
    font-weight: 500;
}

.center-game{
    @apply flex-grow flex flex-col items-center justify-center 
}